body {
    font-family: Arial, sans-serif;
    background-color: rgb(199, 238, 243);
    margin: 50px;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    color: rgb(20, 52, 78);
    margin-bottom: 20px;
}

form {
    background-color: rgb(132, 183, 240);
    padding: 30px;
    max-width: 400px;
    width: 100%;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(6, 94, 168);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: rgb(122, 171, 212);
}
